/* added font "work sans" from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;700;800&display=swap");

/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.text-light-gray {
  color: #727272;
}

/* Buttons */

.btn-primary {
  border-radius: 8px;
  color: #fff;
  background: #ff900e;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600px;
  cursor: pointer;
  border: 0;
}

/* Header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  color: var(--dark-01, #131313);
  font-size: 2.8rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: var(--dark-02, #424242);
}
/* banner image */
.banner-img {
  margin-top: 20px;
  width: 100%;
}

/* Banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-01, #131313);
}

/* Main part styles */
main {
  max-width: 1440px;
  margin: 70px auto;
}

/* teams style */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .Quick-list {
  /* color: #727272; */
  font-weight: 500;
}
.teams-title .text-Features {
  color: #ff900e;
  font-weight: 700;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
  /* width: 241.831px;
  height: 241.831px; */
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
}
/* Feature part starts */
.features {
  margin-top: 130px;
  display: flex;
  gap: 100px;
}
.feature-img img {
  height: 80%;
  margin-left: 90px;
}

.features-title {
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}

.features-content .card {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 342px;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 100px;
}

.ten-years-badge h3 {
  font-size: 4rem;
  margin: 0;
}
.ten-years-badge p {
  font-size: 1.5rem;
}

/* sponsors part */

.sponsors {
  text-align: center;
}
.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

/* footer part  */
.footer {
  border-radius: 8px;
  background: #fff4e7;
  width: 1440px;
  height: 100px;
  margin: auto;
  margin-bottom: 216px;
  margin-top: 130px;
}
.footer-description {
  color: var(--dark-02, #424242);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 39px 0 38px 0;
}

/* Responsive media query starts */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container,
  .features {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .feature-img img {
    width: 100%;
    margin-left: 0;
  }
  .ten-years-badge {
    position: static;
    max-width: 300px;
  }
  .footer {
    width: 100%;
    margin: 0;
  }
}

/* Tablet or mobile devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .sponsors-img-container,
  .teams-container,
  .features {
    flex-direction: column;
  }
  .footer {
    width: 100%;
    margin: 0;
    margin-bottom: 150px;
    margin-top: 100px;
  }
}
